{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3 mb-5">
                <h1>Let BloomRoom make your room bloom!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center d-none d-md-block">
                <img class="img-fluid about-image"
                    src="{% static 'site_images/about-image.jpg' %}"
                    alt="Person sitting with plants">
            </div>
            <div class="col-md-4 text-center mt-5">
                <h4>Top Quality</h4>
                <p>We source directly from top-rated growers, so we can sell the finest quality plants at the very best prices.</p>
                <h4>Delivery straight to your doorstep</h4>
                <p>We'll bring your plants to your door, anywhere in Europe. If you're not 100% happy, tell us within 30 days and we'll sort it.</p>
                <h4>We're here for you</h4>
                <p>If you have any questions at all regarding your plants, we're only a phonecall or an email away. </p>
            </div>
        </div>
    </div>

{% endblock %}
