{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid callout-container" >
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1>Make your Room Bloom!</h1>
                <p><strong>Order high quality plants for your home</strong><br>Fast delivery straight to your doorstep!</p>
                <a href="{% url 'products' %}"><h3><u>Shop here!</u></h3></a>
            </section>
        </div>
    </div>
    <div class="row d-none d-sm-block text-center" id="delivery-banner">
        <div class="col text-white">
            <h4 class="rolling">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
        </div>
    </div>
    <div class="row d-block d-sm-none text-center p-0" id="delivery-banner">
        <div class="col text-white" >
            <h4>Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
        </div>
    </div>
</div>

{% endblock %}

<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1>Make your Room Bloom!</h1>
                <p><strong>Fast delivery straight to your doorstep!</strong></p>
            </section>
        </div>
    </div>
</div>