.callout-container {
    height: 100vh;
    background: url(https://www.pexels.com/sv-se/foto/vaxter-suckulenter-krukvaxt-krukvaxter-1906439/) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

