* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bellefair', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    padding: 0;
}

body {
    background: url('/static/site_images/bg-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.callout-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.callout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;  
}

.callout {
    padding: 1rem;
}

#delivery-banner {
    border:1.5px solid #000000;
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.rolling {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/*.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #ffffff;    }
    49%{    color: #ffffff; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ffffff;    }
}*/

.card-img-top {
    height: 20vw;
    object-fit: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9edf1;
    text-align: center;
}

.social {
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.fa-brands {
    color: #000000;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    }

    .update-link,
    .remove-item {
        cursor: pointer;
    }