* {
    margin: 0;
    padding: 0;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bellefair', serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    padding: 0;
}

.callout-container {
    height: 100vh;
    background: url(https://res.cloudinary.com/karinoldbring/image/upload/v1655876614/BloomRoom/bg-image_yxd9ne.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.callout {
    padding: 1rem;
}

.card-img-top {
    width: 75%;
    height: 20vw;
    object-fit: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9edf1;
    text-align: center;
}

.social {
    text-align: center;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.fa-brands {
    color: #000000;
}