{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="overlay"></div>
<div class="container py-4">
    <div class="row">
        <div class="col">
            <!--Email subscription Form -->
            <form method="post" action="{% url 'subscription' %}">
                {% csrf_token %}
                <div class="form-group">
                    <h3>Sign up for our Newsletter!</h3>
                        <p>Subscribe to our newsletter to get offers, inspo and much more!</p>
                    <br>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email to Subscribe">
                    <button class="btn btn-outline-secondary mt-3" type="submit">Submit</button>
                </div>
            </form>
            <!-- message if email is sent -->
            {% if messages %}
            {% for message in messages %}
            <div class="my-5 alert alert-success">
                <h5 class="m-0">
                    {{ message }}
                </h5>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
        {% endblock %}